language: objective-c
osx_image: xcode9.3

cache:
  directories:
  - Carthage

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - PROJECT=SwiftCraft.xcodeproj
  matrix:
    - DESTINATION="OS=11.3,name=iPhone X"     SCHEME="SwiftCraft iOS"   CARTHAGE_PLATFORM="iOS"
    - DESTINATION="OS=11.3,name=Apple TV 4K"  SCHEME="SwiftCraft tvOS"  CARTHAGE_PLATFORM="tvOS"
    - DESTINATION="arch=x86_64"               SCHEME="SwiftCraft macOS" CARTHAGE_PLATFORM="macOS"

script:
  - set -o pipefail
  - carthage bootstrap --platform $CARTHAGE_PLATFORM --no-use-binaries --cache-builds
  - xcodebuild -project "$PROJECT" -scheme "$SCHEME" -destination "$DESTINATION" test | xcpretty;
