//
//  SwiftCraftVersion.xcconfig
//  SwiftCraft
//
//  Created by Noah Peeters on 25.06.18.
//  Copyright © 2018 Noah Peeters. All rights reserved.
//

#include "../Version.xcconfig"

// Swift Version
SWIFT_VERSION = 4.2

// THe name of the framework.
PRODUCT_NAME = SwiftCraft

// The bundle identifier.
PRODUCT_BUNDLE_IDENTIFIER = to.us.peeters.SwiftCraft-$(PRODUCT_BUNDLE_IDENTIFIER_PLATFORM)

// Path to Info.plist
INFOPLIST_FILE = $(SRCROOT)/Sources/SwiftCraft/Supporting Files/Meta/$(PRODUCT_BUNDLE_IDENTIFIER_PLATFORM)/Info.plist

// Is a module.
DEFINES_MODULE = YES

// Don't Code Sign
CODE_SIGN_IDENTITY =

// Compiler flags
OTHER_SWIFT_FLAGS = -DSWCRYPT -DMESSAGE_ENCRYPTION

// Limit to App Extension API.
APPLICATION_EXTENSION_API_ONLY = YES

// Install path
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

// Do not install.
SKIP_INSTALL = YES

// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
